*.filters
*.recipe
*.idb
*.tlog
*.lastbuildstate
*.check
*.ini
*.json
*.properties
*.css
*.location
*.tree
*.version
*.index
*.resources
*.prefs
.metadata
Debug
*.suo
*.vs*
*.wsuo
obj
.env
*config.cpython*
